<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 rounded-0 fixed-top"dropdown>
  <a class="route" [routerLink]="['/home']" routerLinkActive="router-link-active"><img class="imageLogo" src="/assets/images/logo2.png" alt="logo"></a>
  <button class="navbar-toggler"dropdownToggle type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> </span>
  </button>
  <div  [collapse]="isCollapsed" class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active linkService" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link linkService" [routerLink]="['/service']" routerLinkActive="router-link-active" >Services</a>
      <a class="nav-item nav-link linkService" [routerLink]="['/estimate']" routerLinkActive="router-link-active" >Estimates</a>
      <a class="nav-item nav-link linkService" [routerLink]="['/about']" routerLinkActive="router-link-active">About</a>
    </div>
  </div>
</nav>

