@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

img.imageLogo{
width:240px;
height:54px;
}

.linkService {
  font-family: "Montserrat", sans-serif;
  font-weight:400;
}

.linkService:hover{
  color: #c01a2b !important; 
  
}

@media screen and (max-width: 321px){
  img.imageLogo{
    width:216px;
    height:49px;
    }
}

@media (max-width: 576px){
  ul.collapse{
     display:none !important;
  }
}

@media (min-width: 576px){
  ul.full{
     display:none !important;
  }
}