.captionServiceHeader {
    height: 750px;
    text-align: center;
    vertical-align: text-top;
    background-image: url("/public/assets/images/car/166.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-shadow: 2px 2px 3px #000;
    animation: fill-images 30s;
    -webkit-animation: fill-images 30s;
    -moz-animation: fill-images 30s;
    transition: background-image 1s ease-in-out;
    animation-iteration-count: infinite;
  }

  .bumperrepair-caption {
    height: 750px;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("/public/assets/images/Car1/098.jpg");
    background-size: 100% 100%;
  }
  .bumperreplacement-service-caption{
    height: 750px;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("/public/assets/images/bumper/2.jpg");
    background-size: 100% 100%;
  }
  
  .leasereturn-caption{
    height: 750px;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("/public/assets/images/lexus1/270.jpg");
    background-size: 100% 100%;
  }
  
  .insuranceclaims-caption{
    height: 750px;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("/public/assets/images/car/165.jpg");
    background-size: 100% 100%;
  }
  
  .process-caption{
    height: 750px;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("/public/assets/images/process/10.jpg");
    background-size: 100% 100%;
  }
  
  .btn-service {
      padding: 0.5rem 2rem;
      border: 1px #ccc solid;
      display: inline-block;
      margin: 2rem 0 0;
      border-radius: 50px;
      text-decoration: none;
      color: #fff;
      transition: background 500ms ease;
      box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.37);
    }
  
  .btn-service:hover {
    background: #f4f4f4;
    color: #c01a2b;
  }

  @media (max-width:600px) {
    .captionServiceHeader {
        height: 800px;
        background-size:cover;
    }

    .bumperrepair-caption {
        height: 400px;

      }
    
    .bumperreplacement-service-caption {
      height: 400px;
        

    }

    .leasereturn-caption {
      height: 400px;
    }
    
    .insuranceclaims-caption{
      height: 400px;
    }

    .process-caption{
      height: 400px;
    }
}