@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.static-slider10 {

  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 8px 8px 6px #000;

}

h1{
  font-weight: 500;
    font-size: 2.9rem;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
}

span.contact1{
	background: -webkit-linear-gradient(left, #ffffff 0%, #ae1826 50%, #ffffff 100% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}