.leaseReturnHeader {
    height: 850px;
    text-align: center;
    vertical-align: text-top;
    background-image: url("/public/assets/images/car/166.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 2px 2px 3px #000;
    animation: fill-images 30s;
    -webkit-animation: fill-images 30s;
    -moz-animation: fill-images 30s;
    transition: background-image 1s ease-in-out;
    animation-iteration-count: infinite;
  }

.leaseReturn-caption {
    height: 750px;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("/public/assets/images/Car1/098.jpg");
    background-size: 100% 100%;
  }

  .leaseReturn-swiper{
    height: 750px;
  }

  .captionleaseReturnImages{
    width:100%;
    height:660px;
  }

  .get-free-estimate{
    background-size: cover;
  }

  .leasereturn-redirect-btn{
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 1.4rem 0 !important;
    border-radius: 50px;
    text-decoration: none !important;
    color: #fff !important;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.37);
  }

  .leasereturn-redirect-btn:hover{
    background: #f4f4f4;
   color: #c01a2b !important;
  }


  @media (max-width:430px) {
    .leaseReturn-swiper{
      height:300px;
    }

    .leaseReturnHeader {
      height: 1000px;
    }

    .captionleaseReturnImages{
      width:100%;
      height:300px;
    }
  }