<footer id="site-footer">
	<div itemscope itemtype="http://schema.org/LocalBusiness">
	
      <img id="footerPaint" src="assets/images/footer/paint_companies_logos.png" class="img-fluid"/>
	
	<p></p>
    <p><i class="far fa-envelope"></i>
      <strong><a href="mailto:estimate@urgentcarebumperrepair.com?subject=Estimate from Urgent Care Bumper Repair"><span class="contact">estimate@urgentcarebumperrepair.com</span></a></strong>
    </p>
	<p><i class="fas fa-mobile-alt"></i>
      <strong><a href="tel:18889874368"><span class="contact" itemprop="telephone">1-888-9-URGENT</span></a></strong>
    </p>
    <p><i class="fas fa-mobile-alt"></i>
      <strong><a href="tel:17609949400"><span class="contact" itemprop="telephone">760-994-9400</span></a></strong>
    </p>
	<p><i class="far fa-comment-dots"></i>
      <strong><a href="sms:17609949400"><span class="contact" itemprop="telephone">760-994-9400</span></a></strong>
    </p>
	<p><a href="https://www.facebook.com/109350284023723/posts/109392564019495/" target="_blank"><i class="fab fa-facebook-square"></i></a><span style="margin-right:1.25em;"></span>
	   <a href="https://www.yelp.com/biz/urgent-care-bumper-repair-oceanside?utm_campaign=www_business_share_popup&utm_medium=copy_link&utm_source=(direct)" target="_blank"><i class="fab fa-yelp"></i></a><span style="margin-right:1.25em;"></span>
	   <a href="https://g.co/kgs/3WXYdw" target="_blank"><i class="fab fa-google"></i></a>
	</p>
	</div>
  </footer>