@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

#footerDiv{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}


footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #333;
  align-content: center;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

#footerPaint{
	height:40px;
	width:400px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}

span.contact{
	background: -webkit-linear-gradient(left,#ae1826 0%, #4b3026 50%, #7a7f80 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  }
  
  .fa-facebook-square{
    background: #3c5a98;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }
  
  .fa-yelp{
    background: #d32323;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
  }
  
  .fa-google{
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }
  
  .fab{
      font-size: 2em !important; /*size whatever you like*/
  }
  
  .fas{
    font-size: 1em !important;
  }
  
  
   